
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/..fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
  background-color: #ffffff;
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

a{
  text-decoration: none;
}

.visually_hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container{
  width: 1160px;
  margin: 0 auto;
}

.mail_header{
  margin: 0;
}

 .header_logo{
  width: 163px;
  height: 35px;
  position: relative;
  top: -15px;
}


/* header */


.header_navigaton{
  background-color: #f8e296;
  color: #000000;
  margin-top: 40px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 145px;
}

.inner_page .header_navigaton{
  padding-bottom: 53px;
}

.hidden{
  display: flex;
  justify-content: space-between;
  width: 555px;
  margin-top: 53px;
}


.header_navigaton ul{
  list-style: none;
  padding: 0;

}

.header_navigation_small_literal{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.right_side_small{
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.right_side_small_catalog{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.inner_page .header_navigation_small_literal{
  margin-bottom: 20px;
}

 .inner_page .catalog_bolt_list{
  display: flex;
  justify-content: space-between;
}
.inner_page .header_navigaton_bolt_literal{
  width: 500px;
}

.right_side_small li:nth-child(3){
  margin-left: 40px;
}
.enter{
  margin-right: auto;
}

.right_side_bolt{
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.header_navigaton_bolt_literal{
  display: flex;
  justify-content: space-between;
}

.right_side_bolt_contacts{
  margin-left: auto;
}

.right_side_bolt li:nth-child(1){
  margin-right: 39px;
}

.search_small_litetal label{
  font-family: "open_sansregular";
  opacity: 0.3;
  color: #000000;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

/* .search_small_litetal label:hover{
  opacity: 0.6;
  } */

  .search_small_litetal input[placeholder]:hover{
    opacity: 0.6;
  }

  .search_small_litetal input[placeholder]:focus{
    border-bottom: 3px solid #000000;
    opacity: 1.0;
  }

.search_small_litetal input{
  color: #000000;
  font-family: "open_sanslight";
  background-color: transparent;
  border: none;
  font-size: 15px;
  opacity: 0.3;
}

.main_header img:hover,
.main_header img :focus{
  opacity: 0.6;
}

.main_header img:active{
  opacity: 0.3;
}

.header_navigation_small_literal a:hover,
.header_navigation_small_literal a:focus,
.header_navigaton_catalog a:hover,
.header_navigaton_catalog a:focus,
.header_navigaton_bolt_literal a:hover,
.header_navigaton_bolt_literal a:focus{
  opacity: 0.6;
}

.header_navigation_small_literal a:active,
.header_navigaton_catalog a:active,
.header_navigaton_bolt_literal a:active{
  opacity: 0.3;
}

.header_navigation_small_literal a{
  font-family: "open_sanslight";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
}

.header_navigaton_bolt_literal a,
.header_navigaton_catalog a{
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;

}

/* header end */

/* red */

/* company_description */


/* catalog */

.container .monopods{
  margin-bottom: 22px;
}


.main_navigation_list{
  display: flex;
  justify-content: space-between;
  width: 381px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  }

  .main_navigation_list a{
    opacity: 0.3;
    color: #000000;
  }

  .catalog_wrapper{
    position: relative;
    width: 100%;
    padding-bottom: ;
  }

  .container_columns{
    display: flex;
    justify-content: space-between;

  }

  fieldset{
    border: transparent;
    width: 270px;
    box-sizing: border-box;

  }

  .filter_options{
    padding-left: 57px;
  }

.checkbox_filter{
    margin: 0;
    padding-left: 0;
  }

  .filter::before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 400px;
    height: 100%;
    z-index: -1;
    background-color: #efefef;
  }

  .color{
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
  }
  .bluetooth{
    margin-bottom: 13px;
  }

  .product{
    width: 761px;
  }

  .product_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 761px;
}


  .product_items{
    margin: 0;
    padding: 0;
  }

  .inner_page .footer_navigation_small_literal{}
/* catalog */
.company_description{
  background-color: #ffffff;
}

.company_description_container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
}

.company_description_container h2{
  padding: 0;
  margin-bottom: 42px;
}

.about{
  width: 462px;
  padding: 0;
}

.about .first_paragraph{
  margin-bottom: 30px;
}

.about p{
    margin: 0;
    /* margin-top: -29px; */
    margin-bottom: 37px;
}

.contacts{
  width: 560px;
  padding: 0;
}

.contacts p{
  margin-bottom: 40px;
}

.company_description h2{
  color: #000000;
  font-family: "gilroyextrabold";
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.map .map_picture{
  margin-bottom: 65px;
}

.company_description p{
  color: #464646;;
  font-family: "open_sansregular";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.transport_company{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.yellow{
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.yellow a{
  color: #000000;
}

.yellow a:active{
  opacity: 0.3;
}

/* company_description */

/* footer */


footer{
  background-color: #464646;
  color: #ffffff;;
  height: 323px;
}

footer a{
  color: #ffffff;
}

footer p{
  color: #ffffff;
  font-family: "open_sanslight";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}



.navigation_items{
  display: flex;
  width: 440px;
  justify-content: space-between;
  margin-top: 135px;
}

.social{
display: flex;
justify-content: space-between;
width: 161px;
margin-top: 60px;
}
.footer_navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 251px;
}

.footer_navigation p{
  margin-top: -20px;
}
.footer_navigation_small_literal{
  display: flex;
  justify-content: space-between;
  width: 328px;
  margin-top: 63px;
}


.navigation_items a{
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation_items a:hover,
.navigation_items a:focus{
  opacity: 0.6;
}

.navigation_items a:active,
.footer_navigation_small_literal a:active{
  opacity: 0.3;
}

.social{
  text-align: center;
}

.social a{
  opacity: 0.3;
}

.social a:hover,
.social a:focus{
  opacity: 0.6;
}

.social a:active{
  opacity: 0.1;
}

.navigation_items,
.social,
.footer_navigation_small_literal{
  list-style: none;
}

.yellow_logo img{
color: #ffc600;
margin-top: 65px;
}

.footer_wrapper{
  display: flex;
  justify-content: space-between;
}


.yellow_logo img:hover,
.yellow_logo img:focus{
  opacity: 0.6;
}

.yellow_logo img:active{
  opacity: 0.3;
}

.footer_navigation_small_literal{
  color: #ffffff;
  font-family: "open_sanslight";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.footer_navigation_small_literal a:link{
  opacity: 0.7;
}

.footer_navigation_small_literal a:hover,
.footer_navigation_small_literal a:focus{
  opacity: 1.0;
}

.footer_navigation_small_literal a:active{
  opacity: 0.3;
}




/* catalog */

.hidden a{
  color: #000000;
  font-family: "open_sansregular";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
}

main h2{
  color: #000000;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.main_navigation ul{
  list-style: none;
}

.main_navigation {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.main_navigation a:link{
  opacity: 0.3;
}

.main_navigation a:hover,
.main_navigation a:focus{
  opacity: 1.0;
}
.main_navigation a:active{
  opacity: 0.1;
}


/* filter */



.filter{
  background-color: #eeeeee;
}

.filter_options button{
  color: #000000;
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  background-color: transparent;
  border: none;
}




.checkbox_filter{
  list-style: none;
}

.checkbox_filter li:disabled{
  color: #a6a6a6;
}

.checkbox_filter label{
  color: #000000;
  font-family: "open_sansregular";
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}


legend{
  color: #000000;
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}


/* product */

.product_items{
  list-style: none;
}

.product_items img{
  background-color: #eeeeee;
}

.product_items img:hover,
.product_items img:focus{
  opacity: 0.7;
}

.product_items p{
  color: #000000;
  font-family: "gilroyextrabold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.product_items span{
  color: #464646;
  font-family: "gilroylight";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}



.footer_navigation_small_literal span{
  opacity: 0.3;
}

.header_navigation_small_literal span{
  opacity: 0.3;
}
