@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight-webfont.woff2") format("woff2"), url("../fonts/gilroylight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"), url("../fonts/gilroyextrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("/..fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #ffffff;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #000000;
}
a{
    text-decoration: none;
}
.visually_hidden, .visually_hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.mail_header{
    margin: 0;
}
.header_logo{
    width: 163px;
    height: 35px;
    position: relative;
    top: -17px;
}
/* header */
.header_navigaton{
    background-color: #f8e296;
    color: #000000;
    margin-top: 40px;
    padding-right: 59px;
    padding-left: 60px;
    padding-bottom: 142px;
}
.inner_page .header_navigaton{
    padding-bottom: 28px;
}
.inner_page .search_form{
    left: 29px;
    top: -3px;
}
.inner_page .search_form::before{
    left: -27px;
    top: 10px;
}
.header_navigaton ul{
    list-style: none;
    padding: 0px;
}
.inner_page .header_navigation_small_literal{
    margin-bottom: 15px;
    margin-top: -3px;
}
.header_navigation_small_literal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    margin-top: -2px;
}
.right_side_small{
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.right_side_small_catalog{
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    letter-spacing: 0.15px;
}
.inner_page .catalog_bolt_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.inner_page .header_navigaton_bolt_literal{
    width: 500px;
}
.inner_page .garant{
    margin-right: 74px;
}
.inner_page .contact{
    margin-right: -3px;
}
.right_side_small li:nth-child(3){
    margin-left: 40px;
}
.right_side_small_catalog li:last-child{
    margin-left: 42px;
}
.enter{
    margin-right: auto;
}
.enter span{
    margin-left: 15px;
}
.enter a{
    position: relative;
    left: 26px;
}
.enter a:hover::before, .enter a:focus::before{
    opacity: 0.6;
}
.enter a:active::before{
    opacity: 0.3;
}
.enter a::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/user.svg");
    left: -26px;
    top: 4px;
}
.cart{
    position: relative;
    margin-left: 23px;
}
.cart::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/cart.svg");
    left: -21px;
    top: 4px;
}
.cart:hover::before, .cart:hover::before{
    opacity: 0.6;
}
.cart:active::before{
    opacity: 0.3;
}
.compare{
    position: relative;
}
.compare::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-image: url("../img/svg-device/compare.svg");
    top: 6px;
    left: -19px;
}
.compare:hover::before, .compare:focus::before{
    opacity: 0.6;
}
.compare:active::before{
    opacity: 0.3;
}
.right_side_bolt{
    padding: 0;
    margin-right: 0;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-between;
}
.header_navigaton_bolt_literal{
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.catalog_item{
    position: relative;
}
.catalog_item::before{
    position: absolute;
    content: "";
    background-image: url("../img/svg-device/plus.svg");
    width: 16px;
    height: 16px;
    right: -27px;
    top: 4px;
    opacity: 0.3;
}
.inner_page .catalog_item:hover::before{
    display: none;
}
.inner_page .catalog_item::before{
    right: -27px;
}
.hidden_wrapper{
    display: none;
    position: absolute;
    top: 13px;
}
.hidden_index_wrapper{
  top: -10px;
}
.hidden{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 555px;
    margin-top: 53px;
    background-color: #f8e296;
}
.hidden_index{
  justify-content: flex-start;
  width: 1100px;
  margin-top: 66px;
  margin-left: -20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.hidden_index .item_left{
  margin-left: 7px;
}
.item_left_contr{
  padding-bottom: 23px;
}
.hidden_index .item_left,
.hidden_index .item_center{
  margin-right: 18px;
}
.catalog_item:hover .hidden_wrapper, .catalog_item:focus .hidden_wrapper{
    display: block;
    z-index: 77;
}

.inner_page .hidden_wrapper{
    position: absolute;
    width: 1160px;
    left: -59px;
    top: 20px;
    background-color: #f8e296;
    padding-left: 60px;
    padding-bottom: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.right_side_bolt_contacts{
    margin-left: auto;
    margin-right: -3px;
}
.right_side_bolt li:nth-child(1){
    margin-right: 35px;
}
.search_form{
    position: relative;
    left: 37px;
}
.search_button{
    position: absolute;
    visibility: hidden;
    top: -15px;
    left: 318px;
    background-color: transparent;
    border: 2px solid #000000;
    border-bottom: none;
    padding: 16px 18px;
    font-family: "open_sansregular", Arial, sans-serif;
}
.inner_page .search_button{
  top: -13px;
}
.search_button_field:active ~ .search_button, .search_button_field:focus ~ .search_button{
    visibility: visible;
}

.inner_page .search_button_field[placeholder]{
  padding: 10px;
}
.search_button:hover, .search_button:focus{
    background-color: #000000;
    color: #ffffff;
}
.search_button:active{
    color: #4c4c4c;
}
.search_small_litetal label{
    font-family: "open_sansregular", Arial, sans-serif;
    opacity: 0.3;
    color: #000000;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.search_small_litetal input[placeholder]{
    padding: 10px;
    padding-top: 7px;
    padding-right: 100px;
    padding-left: 2px;
    margin-bottom: 3px;
}
.search_small_litetal input[placeholder]:hover{
    opacity: 0.6;
}
.search_small_litetal input[placeholder]:focus{
    -webkit-box-shadow: 0px 2px ;
    box-shadow: 0px 2px ;
    outline: none;
    width: 403px;
    opacity: 1.0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.search_small_litetal input{
    color: #000000;
    font-family: "open_sanslight", Arial, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 15px;
    opacity: 0.3;
    position: relative;
}
.search_form::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: -34px;
    top: 7px;
    background-image: url("../img/svg-device/search.svg");
}
.main_header img:hover , .main_header img:focus{
    opacity: 0.6;
}
.main_header img:active{
    opacity: 0.3;
}

.header_navigation_small_literal a:hover, .header_navigation_small_literal a:focus, .header_navigaton_catalog a:hover, .header_navigaton_catalog a:focus, .header_navigaton_bolt_literal a:hover, .header_navigaton_bolt_literal a:focus{
    opacity: 0.6;
}
.header_navigation_small_literal a:active, .header_navigaton_catalog a:active, .header_navigaton_bolt_literal a:active{
    opacity: 0.3;
}
.header_navigation_small_literal a{
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #000000;
    letter-spacing: 0.15px;
}

.header_navigaton_bolt_literal a, .header_navigaton_catalog a{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #000000;
}
/* header end */
/* slaider*/
.slaider{
    width: 1076px;
    margin: 0 auto;
}
.slaider_radio_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.promo_radio{
    visibility: hidden;
}
.slaider_radio_list .promo_indicator{
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.promo_radio ~ label::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 904px;
    top: 197px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 1px #000000;
}

.promo_radio:checked + label::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0px 4px #000000;
}
.promo_radio ~.promo_1_indicator::before{
    left: 905px;
    top: 200px;
}
.promo_radio ~.promo_2_indicator::before{
    left: 925px;
    top: 200px;
}
.promo_radio ~.promo_3_indicator::before{
    left: 945px;
    top: 200px;
}
.promo_description{
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.promo_description::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 100px;
    height: 7px;
    top: -87px;
    left: 480px;
}
.slide_img{
    position: absolute;
}
.slide_img1{
    top: -126px;
    left: -30px;
}
.slide_img2{
    top: -113px;
    left: -1px;
}
.slide_img3{
    top:-60px;
    left: -87px;
}
.slade_name{
    position: absolute;
    top: -92px;
    left: 480px;
    width: 400px;
    line-height: 56px;
    color: #000000;
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 0.60px;
    padding: 0;
}
.promo_description_item1 .slide_number{
    right: 90px;
}
.promo_description_item1 .slade_description{
    width: 483px;
    padding: 0;
    letter-spacing: 0.15px;
}
.promo_description_item1 .slider_characteristic{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 472px;
}
.promo_description_item2 .slide_number{
    right: 67px;
}
.promo_description_item2 .slade_description{
    letter-spacing: 0.17px;
    width: 459px;
}
.promo_description_item3 .slade_name{
    width: 507px;
    padding: 0;
    letter-spacing: 0.73px;
}
.promo_description_item3 .slide_number{
    letter-spacing: 3.9px;
    left: 783px;
    top: -140px;
}
.promo_description_item1, .promo_description_item2, .promo_description_item3{
    position: fixed;
    left: -10000px;
}
#promo_1:checked ~ .promo_description .promo_description_item1, #promo_2:checked ~ .promo_description .promo_description_item2, #promo_3:checked ~ .promo_description .promo_description_item3{
    position: relative;
    left: 0;
    padding: 40px 0px 40px 600px;
}
.slade_description{
    position: relative;
    left: -120px;
    width: 470px;
    margin: 0;
    margin-top: 45px;
    padding: 0;
    color: #464646;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.18px;
}
.slide_number{
    position: absolute;
    top: -136px;
    right: 97px;
    color: #ffffff;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 179px;
    font-weight: 400;
    line-height: 179.2px;
    letter-spacing: 0.36px;
}
.promo_description .detail{
    top: 50px;
    right: 102px;
    letter-spacing: 3.80px;
}
.promo_description .detail::after{
    left: -42px;
    width: 220px;
}
.slaider_table{
    position: relative;
    left: -122px;
    margin-top: 100px;
    border-spacing: 0;
    width: 430px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.slaider_table tr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.slaider_table tr:first-child{
    color: #000000;
    font-family: "open_sansligh", Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
}
.slaider_table tr:last-child{
    color: #464646;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
    text-align: left;
}
.slider_characteristic{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #000000;
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
    margin-top: 70px;
    left: -120px;
    top: -5px;
}
.characteristic_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-right: 43px;
}
.characteristic_item span{
    color: #464646;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
    margin-top: 7px;
}
/* popular_list */
.popular_list{
    margin: 0;
    margin-bottom: 130px;
    margin-top: 34px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
}
.popular_list a{
    display: block;
    background-color: #f8e296;
    width: 160px;
    height: 160px;
}
.popular_list a:hover, .popular_list a:focus{
    background-color: #f0c52e;
}
.popular_list a:active{
    opacity: 0.6;
    background-color: #f0c52e;
}
.popular_name{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 194px;
    left: 1px;
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20px;
}
.popular_list_item1 a{
    background-image: url("../img/svg-device/popular-1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.popular_list_item1 .popular_name{
    width: 130px;
    letter-spacing: 0.50px;
}
.popular_list_item2 a{
    background-image: url("../img/svg-device/popular-2.svg");
    background-repeat: no-repeat;
    background-position: 52% 98%;
}
.popular_list_item2 .popular_name{
    width: 93px;
}
.popular_list_item3 a{
    background-image: url("../img/svg-device/popular-3.svg");
    background-repeat: no-repeat;
    background-position: 56% 53%;
}
.popular_list_item4 a{
    background-image: url("../img/svg-device/popular-4.svg");
    background-repeat: no-repeat;
    background-position: 55% 54%;
}
.popular_list_item5 a{
    background-image: url("../img/svg-device/popular-5.svg");
    background-repeat: no-repeat;
    background-position: 55% 54%;
}
.popular_list_item6 a{
    background-image: url("../img/svg-device/popular-6.svg");
    background-repeat: no-repeat;
    background-position: 50% 55%;
}
/* popular_end */
/* service */
.service{
    width: 100%;
    background-color: #e5e5e5;
    margin-top: 260px;
}
.service_wrapper{
    position: relative;
    padding-left: 0;
}
.service label{
    position: absolute;
    letter-spacing: 4.12px;
    display: inline-block;
    padding-right: 260px;
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 278px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.service .detail{
    left: -24px;
}
.service_indicator1{
    top: -18px;
}
.service_indicator2{
    top: 47px;
}
.service_wrapper .service_indicator2{
    padding-left: 25px;
    letter-spacing: 3.6px;
    padding-right: 0;
}
.service_wrapper .service_indicator3 {
    top: 111px;
    right: -30px;
    padding-left: 37px;
    letter-spacing: 4px;
    padding-right: 10px;
}
.service .detail::after{
    width: 160px;
    top: 16px;
    left: 0px;
}
.service_radio:checked + .detail::after{
    background-color: transparent;
    -webkit-transition-delay: -1s;
         -o-transition-delay: -1s;
            transition-delay: -1s;
}
.service_radio:checked + label{
    background-color: #000000;
    color: #f7e184;
}
.service_description{
    position: relative;
    width: 924px;
    left: 251px;
    top: -22px;
    margin: 0;
    margin-bottom: 96px;
    list-style: none;
    padding-bottom: 107px;
    padding-left: 151px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.service_description::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 319px;
    background-color: #000000;
    left: 27px;
    top: -75px;
}
.service_item_description1::after{
    position: absolute;
    content: "";
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    right: 15px;
    top: 10px;
    width: 200px;
    height: 200px;
}
.service_item_description2::after{
    position: absolute;
    content: "";
    right: 29px;
    top: -13px;
    width: 200px;
    height: 200px;
    background-image: url("../img/warranty.png");
    background-repeat: no-repeat;
}
.service_item_description2:focus{

  }
.service_item_description3::after{
    position: absolute;
    content: "";
    right: 72px;
    top: -22px;
    width: 200px;
    height: 200px;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 74% ;
}
.service_item_description{
    position: fixed;
    left: -1000px;
}
.service_item_description h3{
    color: #000000;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.90px;
    margin-bottom: 29px;
}
.service_item_description p{
    width: 450px;
    color: #464646;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.25px;
}
.service_item_description2 p{
    width: 440px;
    color: #464646;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.21px;
    padding: 0;
}
.service_item_description2 span{
    letter-spacing: 0.10px;
}
.service_item_description3 p{
    letter-spacing: 0.29px;
    width: 442px;
}
.service_item_description3 span{
    letter-spacing: 0.19px;
}
#service_radio1:checked ~ .service_description .service_item_description1, #service_radio2:checked ~ .service_description .service_item_description2, #service_radio3:checked ~ .service_description .service_item_description3{
    position: static;
}
#service_radio2:checked ~ .service_indicator2{
  padding-left: 30px;
}
#service_radio3:checked ~ .service_indicator3{
  padding-left: 42px;
}
/* service_end */
/* partners start */
.partners{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 106px;
}
.partners_list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
}
.partners_list a{
    display: block;
    background-position: center;
    width: 260px;
    height: 100px;
    padding: 0;
}
.partners_item1 a{
    background-image: url("../img/logo-1.png");
}
.partners_item1 a:hover, .partners_item1 a:focus{
    background-image: url("../img/logo-1_copy.png");
}
.partners_item2 a{
    background-image: url("../img/logo-2.png");
}
.partners_item2 a:hover, .partners_item2 a:focus{
    background-image: url("../img/logo-2_copy.png");
}
.partners_item3 a{
    background-image: url("../img/logo-3.png");
}
.partners_item3 a:hover, .partners_item3 a:focus{
    background-image: url("../img/logo-3_copy.png");
}
.partners_item4{
    background-image: url("../img/logo-4.png");
}
.partners_item4 a:hover, .partners_item4 a:focus{
    background-image: url("../img/logo-4_copy.png");
}
/* partners end */
/* company_description */
/* catalog */
.container .monopods{
    margin-bottom: 22px;
    padding-left: 60px;
    letter-spacing: 0.61px;
}
.main_navigation_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 384px;
    padding: 0;
    padding-left: 60px;
    margin: 0;
    margin-bottom: 40px;
    font-family: "open_sansregular", Arial, sans-serif;
    letter-spacing: 0.17px;
}

.main_navigation_list a{
    opacity: 0.3;
    color: #000000;
}
.catalog_wrapper{
    position: relative;
    width: 100%;
}
.filter::after{
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #dbdbdb;
    opacity: 0.4;
}
.container_columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.filter{
    margin-left: auto;
    margin-right: 67px;
}
#from, #till{
    position: relative;
    top: 0;
    width: 20px;
    height: 22px;
    background-image: url("../img/svg-device/filter-button.svg");
    content: "";
}
#till{
    left: 18px;
    z-index: 900;
}
#till::before{
  position: absolute;
  content: "";
  width: 93px;
  height: 3px;
  background-color: #91c92f;
  left: -94px;
  top: 9px;
  z-index: 899;
}
#till::after{
  position: absolute;
  content: "";
  width: 77px;
  height: 3px;
  background-color: #dbdbdb;
  left: 20px;
  top: 9px;
  z-index: 879;
}
#from{
    left: -7px;
}
.from_button, .till_button{
    position: relative;
    top: 26px;
    left: -25px;
    width: 54px;
    height: 12px;
    opacity: 0.2;
    color: #000000;
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.from_button{
  margin-right: 34px;
}
.filter_title{
    position: absolute;
    left: 155px;
    top: 12px;
    z-index: 1000;
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}
input[type="range"]{
    margin-top: 50px;
}
fieldset{
    border: transparent;
    width: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.filter_options{
    padding-left: 57px;
}
.filter_checkbox{
    position: relative;
    cursor: pointer;
    padding-left: 38px;
    letter-spacing: 6px;
}
.checkbox_condition + label::before{
    position: absolute;
    content: "";
    top: -2px;
    left: -1px;
    width: 23px;
    height: 23px;
    background-image: url("../img/svg-device/checkbox-off.svg");
}
.checkbox_condition:disabled + label{
    opacity: 0.6;
}
.checkbox_condition:checked + label::before{
    position: absolute;
    content: "";
    top: -2px;
    left: -1px;
    width: 25px;
    height: 23px;
    background-image: url("../img/svg-device/checkbox-on.svg");
}
.checkbox_filter{
    margin: 0;
    padding-left: 0;
}
.filter::before{
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 424px;
    height: 100%;
    z-index: -1;
    background-color: #efefef;
}
.color{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    margin-bottom: 17px;
}
/* body > * {
  background-color: rgba(200, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}

body > * > * > * {
  background-color: rgba(0, 255, 255, 0.3);
}

body > * > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
} */
.filter legend{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
    margin-bottom: 17px;
    margin-top: 0px;
}
.bluetooth{
    padding: 0;
    margin-left: 0;
    margin-bottom: 40px;
}
.filter_radio{
    position: relative;
    cursor: pointer;
    padding-left: 38px;
}
.filter_radio input[type="radio"] + .checkbox_indicator{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    background-image: url("../img/svg-device/radio-off.svg");
}
.filter_radio input[type="radio"]:checked + .checkbox_indicator::after{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    background-image: url("../img/svg-device/radio-on.svg");
}
.filter_options .detail{
    right: 40px;
    top: -2px;
    padding: 0;
    letter-spacing: 3.4px;
    font-weight: 400;
}
.filter_options .detail::after{
    top: 8px;
    left: 13px;
    width: 200px;
}
.produrt{
    width: 761px;
    margin-top: 145px;
}
.sort{
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -114px;
    margin-bottom: 97px;
    position: relative;
}
.sort a{
    color: #000000;
    opacity: 0.3;
}
.sort a:hover, .sort a:focus{
    opacity: 0.6;
}
.sort a:active{
    opacity: 1;
}
.sort_direction_up a{
    position: relative;
    color: transparent;
}
.sort_direction_up a::after{
    position: absolute;
    content: "";
    top: 6px;
    left: 206px;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg-device/icon-up-dir.svg");
}
.sort_direction_down a{
    position: relative;
    color: transparent;
}
.sort_direction_down a::after{
    position: absolute;
    content: "";
    left: 167px;
    top: 6px;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg-device/icon-down-dir.svg");
}
.sort .sort_title{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.70px;
    margin-top: -1px;
    margin-left: 2px;
    margin-right: 50px;
}
.sort li{
    color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 27px;
}
.product_items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
}
.product_items li{
    margin-bottom: 26px;
}
.product_items p:first-child{
    margin-top: 0;
}
/* catalog */
.company_description{
    background-color: #ffffff;
}
.company_description_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 87px;
}
.company_description_container h2{
    padding: 0;
    margin-bottom: 42px;
}
.about{
    padding: 0;
    width: 462px;

}
.about h2{
    position: relative;
}
.about h2::before{
    position: absolute;
    content: "";
    left: 0;
    top: -52px;
    width: 80px;
    height: 7px;
    background-color: #000000;
}
.about .first_paragraph{
    margin-bottom: 30px;
    padding: 0;
    white-space: normal;
    word-spacing: normal;
    letter-spacing: 0.18px;
}
.about p{
    margin: 0;
    margin-bottom: 37px;
    font-weight: 300;
    line-height: 30px;
    padding: 0;
    white-space: pre;
    position: relative;
}
.contacts{
    width: 560px;
    padding: 0;
}
.contacts h2{
    position: relative;
}
.contacts h2::before{
    position: absolute;
    content: "";
    left: 0;
    top: -52px;
    width: 80px;
    height: 7px;
    background-color: #000000;
}
.contacts p{
    margin-bottom: 40px;
}
.company_description h2{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.21px;
}
.map .map_picture{
    margin-bottom: 65px;
}
.company_description p{
    color: #464646;
   ;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.transport_company{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}
.transport_company li{
    position: relative;
    left: 36px;
    bottom: 2px;
}
.transport_company li::before{
    position: absolute;
    left: -34px;
    top: 17px;
    content: "";
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    height: 5px;
    width: 5px;
}
.yellow{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    width: 178px;
}
.yellow a{
    color: #000000;
}
.detail {
    position: relative;
    z-index: 60;
    width: 230px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    margin-left: 25px;
    letter-spacing: 3.5px;
}
.detail::after{
    position: absolute;
    content: "";
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    top: 5px;
    left: -25px;
    z-index: -59;
}
.yellow a:active{
    opacity: 0.3;
}
.writeUs {
    position: relative;
    z-index: 60;
    width: 220px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    margin-left: 42px;
    letter-spacing: 3.6px;
}
.writeUs::after{
    position: absolute;
    content: "";
    width: 260px;
    height: 8px;
    background-color: #f0c52e;
    top: 5px;
    left: -41px;
    z-index: -59;
}
.detail:hover::after, .detail:focus::after, .writeUs:hover::after, .writeUs:focus::after{
    -webkit-transform: scaleY(4);
    -ms-transform: scaleY(4);
    transform: scaleY(4);
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.detail:active a, .writeUs:active a{
    opacity: 0.3;
}
/* company_description */
/* footer */
footer{
    background-color: #464646;
    color: #ffffff;
    padding-bottom: 40px;
}
footer a{
    color: #ffffff;
}
footer p{
    color: #ffffff;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.navigation_items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 429px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 135px;
}
.inner_page .navigation_items{
  margin-top: 137px;
}
.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 140px;
    margin-top: 43px;
}
.footer_navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 262px;
}
.footer_navigation p{
    letter-spacing: 0.09px;
    margin-right: 14px;
}
.footer_navigation .phone{
  margin-top: 19px;
  margin-right: 12px;
}
.footer_navigation_small_literal li svg{
    fill: #ffc600;
    margin-right: 7px;
}
.footer_navigation_small_literal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 338px;
    margin-top: 63px;
    margin-left: 2px;
}
.inner_page .footer_navigation{
  width: 377px;
  }
.inner_page .catalog_footer{
  width: 351px;
}

.footer_navigation_small_literal li:last-child{
    margin-right: 12px;
}
.footer_navigation_small_literal li:nth-child(2){

}

.social_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 123px;
}
.navigation_items a{
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.navigation_items a:hover, .navigation_items a:focus{
    opacity: 0.6;
}
.navigation_items a:active, .footer_navigation_small_literal a:active{
    opacity: 0.3;
}
.social{
    text-align: center;
}
.social a{
    opacity: 0.3;
}
.social a:hover, .social a:focus{
    opacity: 0.6;
}
.social a:active{
    opacity: 0.1;
}
.navigation_items, .social, .footer_navigation_small_literal{
    list-style: none;
}
.footer_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.developer{
    margin-top: 40px;
    margin-right: 3px;
    margin-bottom: -1px;
}
.developer svg{
  margin-right: 11px;
  margin-bottom: -3px;
}
.developer .academy_pic{
  margin-bottom: -5px;
}
.developer:hover, .developer:focus{
    opacity: 0.6;
}
.developer:active{
    opacity: 0.3;
}
.yellow_logo{
    color: #ffc600;
    margin-top: 66px;
}
.yellow_logo p{
    position: relative;
    white-space: nowrap;
    margin-top: 19px;
    letter-spacing: 0.08px;
}
.yellow_logo p::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 7px;
    left: 0;
    bottom: -85px;
    background-color: #ffc600;
}
.yellow_logo svg{
    fill: #ffc600;
}
.yellow_logo svg:hover, .yellow_logo svg:focus{
    opacity: 0.6;
}
.yellow_logo svg:active{
    opacity: 0.3;
}
.footer_navigation_small_literal{
    color: #ffffff;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.catalog_footer{
  width: 400px;
}
.catalog_footer{
  position: relative;

}
.catalog_footer li{
  margin-right: 0;
  padding-left: 0;
}
.catalog_footer_wraper .person_log{
  left: -98px;
  position: absolute;
  display: block;
}
.catalog_footer_wraper{
  display: flex;
  justify-content: space-between;
}
.person_log svg{
}

.exit{
  opacity: 0.3;
  margin-left: -4px;
}
.footer_navigation_small_literal a:link{
    opacity: 0.7;
}
.footer_navigation_small_literal a:hover, .footer_navigation_small_literal a:focus{
    opacity: 1.0;
}
.footer_navigation_small_literal a:active{
    opacity: 0.3;
}
/* catalog */
.hidden a{
    color: #000000;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
}
main h2{
    color: #000000;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.17px;
}
.main_navigation ul{
    list-style: none;
}
.main_navigation {
    color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.main_navigation a:link{
    opacity: 0.3;
}
.main_navigation a:hover, .main_navigation a:focus{
    opacity: 1.0;
}
.main_navigation a:active{
    opacity: 0.1;
}
.inner_page footer{
    padding-top: 1px;
}
/* filter */
.filter{
    margin-top: -10px;
}
.filter_options{
    margin-top: 156px;
    padding-left: 58px;
}
.filter_options button{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    background-color: transparent;
    border: none;
}
.catalog_line{
    display: block;
    width: 201px;
    height: 2px;
    border: 0;
    background: #000000;
    margin-left: 0;
    margin-top: 57px;
    margin-bottom: 9px;
}
.line_bluetooth{
    margin-top: 32px;
    margin-bottom: -7px;
}
.checkbox_indicator{
    margin-top: -5px;
    margin-left: -2px;
}
.checkbox_filter{
    list-style: none;
}
.checkbox_filter li:disabled{
    color: #a6a6a6;
}
.checkbox_filter label{
    color: #000000;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.10px;
}
.worth{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
    margin-bottom: 17px;
    margin-top: 0px;
}
/* product */
.product_items{
    list-style: none;
    margin-top: -7px;
}
.stick_discription span{
    padding-left: 15px;
}
.product_items img{
    background-color: #eeeeee;
}
.product_items li {
    position: relative;
}
.common_link{
  margin-top: -17px;
}
.common_link:hover .product_buttons_wrapper{
    z-index: 800;
    opacity: 1.9;
}
.product_items :hover img{
    opacity: 0.6;
}
.product_buttons_wrapper{
    position: absolute;
    z-index: -200;
    margin: auto;
    top: 180px;
    bottom: 0;
    left: 0;
    right: 4px;
}
.product_items img:hover .product_buttons_wrapper{
    display: block;
}
.hidden_product_buttons{
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hidden_product_buttons .cart_button{
    display: block;
    border: none;
    text-align: center;
    letter-spacing: 3.19px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}
.cart_button:focus{
    outline: none;
}
.cart_button:active{
    color: #a88a20;
}
.hidden_product_buttons .detail::after{
    width: 200px;
    left: 18px;
    top: 7px;
}
.comparison{
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    color: #000000;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.13px;
    text-align: center;
    font-family: "open_sansregular", Arial, sans-serif;
}
.comparison:hover, .comparison:focus{
    opacity: 1;
    outline: none;
}
.comparison:active{
    opacity: 0.2;
}
.stick_discription{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 360px;
    margin-top: 25px;
    margin-bottom: 3px;
    word-break: keep-all;
}
.product_items p{
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.19px;
}
.product_items span{
    color: #464646;
    white-space: nowrap;
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.catalog_pages{
    width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ebebeb;
    margin-top: -12px;
    margin-bottom: 75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.catalog_pages > a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 126px;
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4.0px;
    padding: 23px 0px 23px 5px;
}
.catalog_pages > a:active{
    background-color: #d8d8d8;
    color: #979797;
}
.catalog_pages > a:hover, .catalog_pages > a:focus{
    background-color: #d8d8d8;
}
.pages_numbers {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 86px;
    padding: 0;
    margin: 0;
}
.pages_numbers a{
    display: block;
    margin-top: 2px;
    margin-left: 2px;
    color: #000000;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    opacity: 0.3;
    color: #000000;
}
.pages_numbers a:hover, .pages_numbers a:focus{
    opacity: 0.6;
    color: #000000;
}
.pages_numbers a:active{
    opacity: 1;
}
.footer_navigation_small_literal span{
    opacity: 0.3;
}
.header_navigation_small_literal span{
    opacity: 0.3;
}
.modal{
    visibility: hidden;
    margin: 0 auto;
    width: 960px;
    padding: 22px 22px 92px 100px;
    -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}
@keyframes identifier {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  100% {transform: translateY(0);}
}
.modal_show{
  visibility: visible;
  animation-name: identifier;
  animation-duration: 1s;
}
.modal_login{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -277px;
    margin-left: -480px;
    width: 960px;
    min-height: 554px;
    z-index: 1000;
    background: #ffffff;
    box-sizing: border-box;
}
.modal_login_form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 762px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.user_wrapper p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user_wrapper p:first-child{
    margin-right: 40px;
}
.user_wrapper input{
    width: 360px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 18px;
    background-color: #e5e5e5;
   ;
    opacity: 0.5;
    border: none;
    font-family: "open_sansregular", Arial, sans-serif;
}
.user_wrapper textarea{
    width: 740px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 18px;
    background-color: #e5e5e5;
   ;
    opacity: 0.5;
    border: none;
    font-family: "open_sansregular", Arial, sans-serif;
    margin-right: 0;
}
.user_wrapper input:hover, .user_wrapper textarea:hover{
    opacity: 0.8;
}
.user_wrapper input:focus, .user_wrapper textarea:focus{
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 3px #f0c52e;
    box-shadow: inset 0 0 0 3px #f0c52e;
}
.user_wrapper input:invalid{
    background-color: #edb5b5;
    opacity: 0.5;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal_close{
    position: relative;
    border: none;
    background-color: #f0c52e;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    border-radius: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.modal_close:hover, .modal_close:focus{
    opacity: 1;
}
.modal_close:active{
    opacity: 0.6;
}
.modal_close::before{
    position: absolute;
    content: "";
    width: 23px;
    height: 22px;
    background-image: url("../img/menu-close.svg_copy.png");
    left: 16px;
    top: 16px;
}
.line_button{
    border: none;
    background-color: transparent;
    position: relative;
    left: 16px;
    width: 130px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    margin-top: 47px;
}
.line_button::after{
    content: "";
    position: absolute;
    left: -18px;
    top: 8px;
    z-index: -6;
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
}
.line_button:hover::after, .line_button:focus::after{
    -webkit-transform: scaleY(4);
    -ms-transform: scaleY(4);
    transform: scaleY(4);
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.line_button:active{
    color:#f7e184;
    outline: none;
}
.line_button:active::after{
    padding-left: 136px;
    background-color: #000000;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
 .modal_map{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -279px;
    margin-left: -460px;
    width: 960px;
    height: 559px;
    z-index: 10000;
    padding: 0;
    -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal_map .modal_close{
    position: absolute;
    top: 30px;
    left: 860px;
}
